*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

.custom-darkblue {
  background-color: #2A2E7C; 
}

.text-custom-darkBlue {
  color:  #2A2E7C; 
}

.custom-font13 {
  font-size: 13px;
}

.custom-font-18 {
  font-size: 18px;
}

.custom-letterSpacing {
  letter-spacing: 2.2px;
}

.custom-letterSpacing-0-6{
  letter-spacing: 0.6px;
}

.custom-height-200 {
  height: 80px;
}

.custom-height-100 {
  height: 100px;
}


.custom-light-white {
  background-color: #F5F5F5;;
}

.custom-font-size-70 {
  font-size: 70px;
}

.hero-section {
  background-image: url("assets/header-image2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.myRequestQuote{
  background-image: url("assets/download\ \(2\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.quote-highlight {
  background-color: #2a2e7cb9;
}


@media screen and (max-width: 768px) {
  .hero-section {
    max-height: 40vh;
  }
  .hero-section h1 {
    font-size: 35px;
  }
}


.spacer {
  width: 100%;
  height: 16vh;
}