*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.custom-darkblue {
  background-color: #2A2E7C; 
}

.custom-font13 {
  font-size: 13px;
}